/*
 * Dependencies. Requires a local copy of the WP Sharks Core.
 */
@import '../../../../../wp-sharks-core/src/client-s/css/bourbon/bourbon';

/*
 * Brand configuration.
 */
$brand-slug: 'wp-tocify';
$brand-var: 'wp_tocify';

/*
 * Color variables.
 */
$toc-bg-color: #eee;
$toc-border-color: #ccc;
$toc-heading-color: #787878;
$toc-icon-color: #aaa;

/*
 * Body selector.
 */
.#{$brand-slug}:not(#x) {
  /*
   * Headings.
   */
  .#{$brand-slug}-heading {}

  /*
   * Anchor styles.
   */
  .#{$brand-slug}-anchor,
  .#{$brand-slug}-anchor:hover,
  .#{$brand-slug}-anchor:focus,
  .#{$brand-slug}-anchor:active,
  .#{$brand-slug}-anchor:visited {
    //
    width:                    auto;
    height:                   auto;
    box-sizing:               border-box;

    //
    box-shadow:               none;
    text-shadow:              none;
    text-decoration:          none;
    outline:                  none;
    background:               none;

    //
    font-size:               .75em;
    line-height:              inherit;
    font-family:              inherit;
    font-style:               normal;
    font-weight:              normal;

    //
    padding:                  0;
    margin:                   0 0 0 .5em;
    display:                  inline-block;
    vertical-align:           middle;
  }

  /*
   * Anchor # icon.
   */
  .#{$brand-slug}-anchor {
    &::after {
      @include transition(opacity 0.25s);

      //
      content:                '#';

      //
      opacity:                0;
      display:                inline-block;

      //
      width:                  1em;
      height:                 1em;
      box-sizing:             inherit;
    }
  }

  /*
   * On heading hover.
   */
  .#{$brand-slug}-heading:hover {
    .#{$brand-slug}-anchor {
      &::after {
        opacity:              1;
        color:                inherit;
      }

      &:hover {
        &::after {
          font-weight:        bold;
        }
      }
    }
  }

  /*
   * Table of Contents.
   */
  .#{$brand-slug}-toc:not(.-style-none) {
    font-size:                1em;
    font-weight:              normal;
    line-height:              1.1;

    //
    box-sizing:               border-box;

    @media (max-width: 767px) {
      display:                none;
    }

    /*
     * Inner `<div>` tag.
     */
    > div {
      padding:                1em;
      border-radius:         .25em;
      background:             $toc-bg-color;
      border:                 1px solid $toc-border-color;

      //
      font-size:              inherit;
      font-weight:            inherit;
      line-height:            inherit;

      h4 {
        padding:              0;
        margin:               0 0 .5em;
        color:                $toc-heading-color;

        //
        font-size:            1.25em;
        font-weight:          inherit;
        line-height:          inherit;
      }

      ul,
      ul > li {
        margin:               0;
        padding:              0;
        list-style:           none;

        //
        font-size:            inherit;
        font-weight:          inherit;
        line-height:          inherit;
      }

      ul > li {
        font-size:           .95em;
        margin:              .5em 0 0 1em;

        &::before {
          content:            '#';
          float:              left;
          text-align:         center;
          margin:             0 0 0 -1.5em;
          width:              1.28571429em;
          color:              $toc-icon-color;
        }

        > a {
          border:             0;
          white-space:        pre;
          text-decoration:    none;
          display:            block;
          overflow:           hidden;
          text-overflow:      ellipsis;

          //
          font-size:          inherit;
          font-weight:        inherit;
          line-height:        inherit;
        }
      }

      > ul > li {
        font-size:            100%;

        &:first-child {
          margin-top:         0;
        }
      }
    }

    /*
     * Style variations.
     */
    &.-float-left,
    &.-float-right {
      z-index:                1;
      width:                  30%;
      position:               relative;

      @media (min-width: 768px) {
        ~ p,
        ~ ol,
        ~ ul,
        ~ h1,
        ~ h2,
        ~ h3,
        ~ h4,
        ~ h5,
        ~ h6,
        ~ div,
        ~ form,
        ~ hr {
          clear:              none;
          overflow:           hidden;
        }
      }
    }

    &.-float-left {
      float:                  left;
      margin:                 0 3em 3em 0;
    }

    &.-float-right {
      float:                  right;
      margin:                 0 0 3em 3em;
    }
  }
}
